<%=provide(:title,"users-edit")%>
<div class="users-bg">
<%=image_tag"user-index.jpg", class:"users-bg"%>
 <div class="bg-mask">
  <div class="user-profile">
   <div class="user-img"">

    <div class="follow-btn">
        <%=render 'follow_form'%>
    </div>

   <% if @current_user.id == @user.id %>
     <%= link_to user_path(@user) do%>
      <img src="<%="/users_images/#{@user.image_name}"%>">
     <%end%>
     <%else%>
      <img src="<%="/users_images/#{@user.image_name}"%>">
   <%end%>

   </div>
   <%=render 'shared/stats'%>
   <div class="user-name">
        <h2><%=@user.name%></h2></br>
       </div>
       <div class="user-email">
        <%=@user.email%> 
       </div>
       </div>
       <div class="edit-btn">
        <% if @current_user.id == @user.id%>
          <%= link_to user_path(@user) do%>
         　 <i class="fas fa-user-edit"></i>
          <%end%>

          <%= link_to @user, method: :delete,data: { confirm: "ユーザーを削除しますか?" } do %>
            <i class="fas fa-trash"></i>
          <%end%>
        <%end%>
    　 </div>
   <div class="container">
    <div class="users-index">
     <div class="user-posts">
     このユーザーの投稿 
     </div>
    
    <% @posts.each do |post|%>
        <div class="posts-index">
        <div class="post-index-item">
        <%= link_to(truncate(post.content,length:14) ,"/posts/#{post.id}") %>
    
          <div class="post_image">
           <img src="<%="/posts_images/#{post.id}.jpg"%>">
          </div>
         </div>
        </div>
        <div class="pagenation">
      <%= paginate @posts %>
      </div>
      <%end%>
      
    </div>
  </div>
</div>
