<div class="users-bg">
<%=image_tag"user-index.jpg", class:"users-bg"%>

 <div class="bg-mask">
  <div class="user-profile">
   <div class="user-img"">
   <%= link_to("/users/#{@user.id}") do%>
    <img src="<%="/users_images/#{@user.image_name}"%>">
    <%end%>
   </div>
       <div class="user-name">
        <%=@user.name%></br>
       </div>
       <div class="user-email">
           <%=@user.email%> 
       </div>
       </div>
       <div class="edit-btn">
       <% if @current_user.id == @user.id%>
          <%= link_to("/users/#{@user.id}") do%>
          <i class="fas fa-user-edit"></i>
          <%end%>

          <%= link_to("/users/#{@user.id}/destroy", {method: "post"}) do %>
          <i class="fas fa-trash"></i>
          <%end%>
       <%end%>
    </div>
   <div class="container">
    <div class="users-index">
     <div class="user-posts">
     このユーザーの投稿 
     </div>
    <% @user.posts.each do |post|%>
        <div class="posts-index">
        <div class="post-index-item">
        <%= link_to(truncate(post.content,length:14) ,"/posts/#{post.id}") %>
    
          <div class="post_image">
           <img src="<%="/posts_images/#{post.id}.jpg"%>">
          </div>
        </div>
        </div>
        <%end%>
    </div>
  </div>
</div>
