<div class="user-form">
<div class="bg-mask">

 <div class="container">
 　<% if @error_message %>
      <div class="error-message">
        <%=@error_message%>
      </div>
    <%end%>


   <div class="form-body">
    <%= form_tag("/users/create") do %>
     <form>
     <div class="login-title">
     Signup
     </div>
  　   <input name="name", value="<%=@user.name%>" placeholder="user"> <input name="email", value="<%=@user.email%>" placeholder="email"> 
       <input name="password", value="<%=@user.password%>" placeholder="password"> 
       <button type="submit" id="login-button"><i class="fas fa-pencil-alt" "icon"></i>Signup</button>   
       </form>
       <%end%>
  </div>
 </div>
</div>
</div>