<% provide(:title, @title) %>
<div class="users-bg">
<%=image_tag"user-index.jpg", class:"users-bg"%>
 <div class="bg-mask">

 <div class="container">　
 <h3><%= @title %></h3>

 <aside class="col-md-4">
    <section class="user_info">
    <%= link_to edit_user_path(@user) do%>
      <img src="<%="/users_images/#{@user.image_name}"%>" width="100px" height="100px">
     <%end%>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", edit_user_path(@user) %></span>
      <span><b><p>投稿数:</b> <%= @user.posts.count %></p></span>
    </section>
    <section class="stats-f">
      <%= render 'shared/stats' %>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <div class="user-index">
        <img src="<%="/users_images/#{user.image_name}"%>"　width="60px" height="60px">
        <%= link_to user.name, "/users/#{user.id}/edit" %>
        </div>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="follow-pagenate">
    <% if @users.any? %>
      <%= paginate @users %>
      <% end %>
  </div>
</div>
</div>
</div>