<div class="index-bg">
　<%=image_tag "post-index.jpg", class:"index-bg"%>
 <div class="bg-mask">
  <div class="post-index">
   <div class="container">
　  <div class="page-title"> 投稿一覧 </div>

   <% @posts.each do |post| %>
      <%= link_to("/posts/#{post.id}") do %>
  <div class="posts-index">
    <div class="post-index-item">
     <%=post.content%>

      <div class="post_image">
       <img src="<%="/posts_images/#{post.id}.jpg"%>">
      </div>
     
        <div class="post-user-name">
      　 投稿者：<%=link_to(post.users.name, "/user/#{post.users.id}/edit")%>
        </div>
        <%end%>
        </div>
       </div>
      <%end%>　
      <div class="pagenation">
      <%= paginate @posts %>
      </div>
      </div>
    </div>

 </div>
</div>
