<div class="post-form"> 
 <div class="bg-mask">
  <div class="edit-index">
   <div class="container">
　　　<div class="posts-content">
        <p style="margin: 0; padding: 0;"><%= @post.content %></p>
        <p style="margin-top: 0;">User:<%= link_to(@user.name, "/user/#{@user.id}/edit") %></p>

      <div class="posts-image">
        <img src="<%="/posts_images/#{@post.id}.jpg"%>">
      </div>
    <div class="post-content">

      <div class="like">
            <% if Like.find_by(user_id: @current_user.id, post_id: @post.id)%>
            <%= link_to("/likes/#{@post.id}/destroy", {method: "post"}) do%>
            <i class="fas fa-cat like-btn-unlike"></i>        
            <% end %>
            <%else%>
            <%= link_to("/likes/#{@post.id}/create", {method: "post"}) do%>
            <i class="fas fa-cat like-btn"></i>        
              <% end %>
            <%end%>
            <%=@like_count%>
  
          <%if @post.user_id == @current_user.id%>
            <%= link_to ("/posts/#{@post.id}/edit") do %>
              <i class="fas fa-edit"></i>
            <%end%>
            <%= link_to("/posts/#{@post.id}/destroy", {method: "post"}) do %>
              <i class="fas fa-trash"></i>
            <%end%>
          <%end%>
      </div>
      <div class="post-detail">
       <P><%= @post.detail %></p>
   
      </div>
    </div>
  </div>



  
    <div class="comment-wrapper">
    Comments
     <div class="comment-contain"">
     
     
    </div>
    </div>

    <div class="form-body">
    <%= form_tag("/comments/#{@post.id}/create") do %>
      <form>
      　<div class="login-title">
      　　 Comment
     　　 </div>
     　　  <textarea name="comment" placeholder="投稿へのコメント""></textarea>
         <button type="submit" id="login-button"><i class="fas fa-sign-in-alt" "icon"></i>コメントを投稿</button> 
       </form>  
      <%end%>
    </div>

   </div>
  </div>
 </div>
 </div>




